* {
  background-image: none;
}

window {
  background-color: rgba(36, 36, 36, 0.8);
}

button {
  font-size: 22px;
  color: #FFFFFF;
  background-color: rgba(89, 89, 89, 0.5);
  background-repeat: no-repeat;
  background-position: center 25%;
  background-size: 12%;
  border: none;
  box-shadow: none;
  border-radius: 15px;
  margin: 5px;
}

button:focus, button:active, button:hover {
  background-color: rgba(18, 120, 161, 0.5);
  outline-style: none;
}

#lock {
  background-image: url("icons/lock.png");
}

#exit {
  background-image: url("icons/logout.png");
}

#suspend {
  background-image: url("icons/suspend.png");
}

#hibernate {
  background-image: url("icons/hibernate.png");
}

#shutdown {
  background-image: url("icons/shutdown.png");
}

#reboot {
  background-image: url("icons/reboot.png");
}
