local wezterm = require "wezterm"

local act = wezterm.action
local config = wezterm.config_builder()

config.enable_tab_bar = false -- Use tmux for tabs

config.font = wezterm.font "Hack"
config.font_size = 16.0

config.color_scheme = "Jellybeans"

config.background = {
  {
    source = { File = "{{ .chezmoi.homeDir }}/.local/share/backgrounds/black.png" },
    opacity = 0.88,
  },
  {
    source = { File = "{{ .chezmoi.homeDir }}/.local/share/backgrounds/gemma.png" },
    opacity = 0.07,
    vertical_align = "Bottom",
    horizontal_align = "Right",
    vertical_offset = -10,
    horizontal_offset = 80,
    width = 2025 / 5, -- original is 2025
    height = 2370 / 5, -- original is 2370
    repeat_x = "NoRepeat",
    repeat_y = "NoRepeat",
  },
}

-- Copy/paste with right mouse button
config.mouse_bindings = {
  {
    event = { Down = { streak = 1, button = "Right" } },
    mods = "NONE",
    action = wezterm.action_callback(function(window, pane)
      local has_selection = window:get_selection_text_for_pane(pane) ~= ""
      if has_selection then
        window:perform_action(act.CopyTo("ClipboardAndPrimarySelection"), pane)
        window:perform_action(act.ClearSelection, pane)
      else
        window:perform_action(act.PasteFrom("Clipboard"), pane)
      end
    end),
  },
}

-- https://github.com/wez/wezterm/issues/5612
config.front_end = "WebGpu"

return config
