HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000

setopt autocd extendedglob

bindkey -v

if (( ! $fpath[(I){{ .chezmoi.homeDir }}/.zsh/completion] )); then
  fpath+=({{ .chezmoi.homeDir }}/.zsh/completion)
fi

# Map zsh HOST to bash HOSTNAME
# https://unix.stackexchange.com/a/209394
HOSTNAME=$HOST

export EDITOR=nvim

if [[ ! "$PATH" == *{{ .chezmoi.homeDir }}/.local/bin* ]]; then
  PATH="${PATH:+${PATH}:}{{ .chezmoi.homeDir }}/.local/bin"
fi

# Colors for ls, tree, fd, etc.
export LS_COLORS="$(vivid generate jellybeans)"

# Display fzf top-down
export FZF_DEFAULT_OPTS="--layout=reverse --preview-window=down,border-top"

# Colorize man pages with bat
export MANPAGER="sh -c 'col -bx | bat -l man -p'"

# ripgrep config
export RIPGREP_CONFIG_PATH="${XDG_CONFIG_HOME:-$HOME/.config}/ripgrep/ripgreprc"

zstyle :compinstall filename '{{ .chezmoi.homeDir }}/.zshrc'
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}

autoload -Uz compinit
compinit

# Show colors by default with ls
alias ls='ls --color=auto'
# Show all files in long format with block size
alias ll='ls -lsa'
# Output file listing in tree format
alias as-tree='tree --fromfile'
# Use bat instead of cat
alias cat='bat --paging=never'
# Tail systemd logs (with colors)
alias syslog='journalctl -f | bat --paging=never -l log --style plain'
# Format --help with bat
alias -g -- --help='--help 2>&1 | bat -l help --style=plain'
# Fuzzy find files (with preview) and open them in nvim
alias ffv='fzf --multi --bind "f1:toggle-all" --bind "enter:become(nvim {+})" --preview "bat --color=always --style=numbers,changes --line-range=:200 {}"'

# Search with ripgrep, select results with fzf (with preview), then open the selections in nvim quickfix
fgv() {
  selected=$(
    rg --color=always --vimgrep --smart-case $@ |
      fzf --multi \
          --ansi \
          --color "hl:-1:underline,hl+:-1:underline:reverse" \
	  --delimiter : \
          --preview 'bat --color=always --style=numbers,changes {1} --highlight-line={2}' \
          --preview-window 'down,border-top,+{2}-4' \
	  --bind "f1:toggle-all"
  )

  if [[ $selected != "" ]]; then
    nvim +cw -q <(echo $selected)
  fi
}

# Set up fzf key bindings and fuzzy completion
fzf_rc="${XDG_CONFIG_HOME:-$HOME/.config}"/fzf/fzf.zsh
[ -f $fzf_rc ] && source $fzf_rc

# Oh My Posh
eval "$(oh-my-posh init zsh --config ~/.config/oh-my-posh/themes/jellybeans.omp.yml)"

# WARNING: fzf-tab needs to be loaded after compinit but before syntax highlighting and autosuggestions
# https://github.com/Aloxaf/fzf-tab?tab=readme-ov-file#install
source ~/.zsh/plugins/fzf-tab/fzf-tab.plugin.zsh

source ~/.zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source ~/.zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
source ~/.zsh/plugins/alias-tips/alias-tips.plugin.zsh
