#!/usr/bin/env bash

FONT={{ .nerdFont | quote }}
FOLDER="${FONT}_Nerd_Font"
source "$CHEZMOI_WORKING_TREE/lib/github-release.sh"

REPO="https://github.com/ryanoasis/nerd-fonts"
DEST=~/.local/share/fonts

# Get latest release at least COOLDOWN_DAYS old
TAG=$(github_release_tag "${REPO#https://github.com/}")

if [ -z "$TAG" ]; then
  echo "Nerd font: no release at least $COOLDOWN_DAYS days old found, skipping"
  exit 0
fi

# Get currently installed version, if any
VERSION_FILE="$DEST/$FOLDER/VERSION"
[ -e $VERSION_FILE ] && CURRENT_TAG=$(< $VERSION_FILE) || CURRENT_TAG=""

if [ "$TAG" = "$CURRENT_TAG" ]; then
  echo "Nerd font already installed: $FONT $TAG"
  exit 0
fi

# Install the latest version of the font
if [ -z "$CURRENT_TAG" ]; then
  echo "Installing nerd font: $FONT $TAG"
else
  echo "Updating nerd font: $FONT $TAG"
fi

# Clean up existing font
rm -fr $DEST/$FOLDER

# Download and extract the font
curl --create-dirs --progress-bar -Lo $DEST/$FONT.tar.xz $REPO/releases/download/$TAG/$FONT.tar.xz

# Validate the checksum
SHA256=$(sha256sum $DEST/$FONT.tar.xz | cut -d' ' -f1)
CHECKSUM=$(curl -sL $REPO/releases/download/$TAG/SHA-256.txt | awk -v f="$FONT.tar.xz" '$2 == f { print $1 }')

if [[ "$SHA256" != "$CHECKSUM" ]]; then
  echo "nerd font checksums do NOT match"
  rm -f $DEST/$FONT.tar.xz
  exit 1
fi

cd $DEST && mkdir $FOLDER && tar -xvJf $FONT.tar.xz -C $FOLDER && rm $FONT.tar.xz

# Update font cache
fc-cache -fv

# Save a version file
echo $TAG > $VERSION_FILE
