#!/usr/bin/env bash

FONT={{ .nerdFont | quote }}
FOLDER="${FONT}_Nerd_Font"
REPO="https://github.com/ryanoasis/nerd-fonts"
DEST=~/.local/share/fonts

# Get latest release version
LOCATION=$(curl -si $REPO/releases/latest | grep -i 'location:*')
REGEX='releases/tag/(v[0-9\.]+)'

[[ $LOCATION =~ $REGEX ]]
TAG=${BASH_REMATCH[1]}

# Get currently installed version, if any
VERSION_FILE="$DEST/$FOLDER/VERSION"
[ -e $VERSION_FILE ] && CURRENT_TAG=$(< $VERSION_FILE) || CURRENT_TAG=""

if [ "$TAG" = "$CURRENT_TAG" ]; then
  echo "Nerd font already installed: $FONT $TAG"
  exit 0
fi

# Install the latest version of the font
echo "Installing nerd font: $FONT $TAG"

# Clean up existing font
rm -fr $DEST/$FOLDER

# Download and extract the font
curl --create-dirs --progress-bar -Lo $DEST/$FONT.tar.xz $REPO/releases/download/$TAG/$FONT.tar.xz
cd $DEST && mkdir $FOLDER && tar -xvJf $FONT.tar.xz -C $FOLDER && rm $FONT.tar.xz

# Update font cache
fc-cache -fv

# Save a version file
echo $TAG > $VERSION_FILE
